services:
  pgrokd:
    image: "ghcr.io/pgrok/pgrokd:latest"
    restart: always
    ports:
      - "2222:2222"
    networks:
      - dokploy-network
    extra_hosts:
      - "host.docker.internal:host-gateway"
    entrypoint: ["/bin/sh", "-c"]
    command:
      - |
        sleep 5
        cat > /tmp/pgrokd.yml <<EOF
        external_url: "https://tunnel.codetrain.cloud"
        web:
          port: 3320
        proxy:
          port: 3000
          scheme: "https"
          domain: "tunnel.codetrain.cloud"
        sshd:
          port: 2222
        database:
          host: "pgrok-pgrok-ufygqh"
          port: 5432
          user: "postgres"
          password: "${POSTGRES_PASSWORD}"
          database: "pgrokdb"
        identity_provider:
          type: "oidc"
          display_name: "Google"
          issuer: "https://accounts.google.com"
          client_id: "${OIDC_CLIENT_ID}"
          client_secret: "${OIDC_CLIENT_SECRET}"
          field_mapping:
            identifier: "email"
            display_name: "name"
            email: "email"
        EOF
        exec /app/pgrokd/pgrokd --config /tmp/pgrokd.yml
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.pgrok-web.rule=Host(`tunnel.codetrain.cloud`)"
      - "traefik.http.routers.pgrok-web.entrypoints=websecure"
      - "traefik.http.routers.pgrok-web.tls.certResolver=letsencrypt"
      - "traefik.http.routers.pgrok-web.service=pgrok-web"
      - "traefik.http.services.pgrok-web.loadbalancer.server.port=3320"
      - "traefik.http.routers.pgrok-proxy.rule=HostRegexp(`{subdomain:[a-z0-9]+}.tunnel.codetrain.cloud`)"
      - "traefik.http.routers.pgrok-proxy.entrypoints=websecure"
      - "traefik.http.routers.pgrok-proxy.tls.certResolver=letsencrypt"
      - "traefik.http.routers.pgrok-proxy.service=pgrok-proxy"
      - "traefik.http.services.pgrok-proxy.loadbalancer.server.port=3000"
      - "traefik.http.routers.pgrok-proxy.priority=1"
      - "traefik.http.routers.pgrok-web.priority=2"
networks:
  dokploy-network:
    external: true
