services:
  pgrokd:
    image: "ghcr.io/pgrok/pgrokd:latest"
    restart: always
    ports:
      - "2222:2222"
    depends_on:
      - postgres
    networks:
      - dokploy-network
      - internal
    entrypoint: ["/bin/sh", "-c"]
    command:
      - |
        cat > /tmp/pgrokd.yml <<EOF
        external_url: "https://tunnel.codetrain.cloud"
        web:
          port: 3320
        proxy:
          port: 3000
          scheme: "https"
          domain: "tunnel.codetrain.cloud"
        sshd:
          port: 2222
        database:
          host: "pgrok-pgrok-ufygqh"
          port: 5432
          user: "${POSTGRES_USER}"
          password: "${POSTGRES_PASSWORD}"
          database: "pgrokdb"
        identity_provider:
          type: "oidc"
          display_name: "Google"
          issuer: "https://accounts.google.com"
          client_id: "${OIDC_CLIENT_ID}"
          client_secret: "${OIDC_CLIENT_SECRET}"
          field_mapping:
            identifier: "email"
            display_name: "name"
            email: "email"
        EOF
        exec /app/pgrokd/pgrokd --config /tmp/pgrokd.yml
  postgres:
    image: postgres
    restart: always
    volumes:
      - "pg_data:/var/lib/postgresql/data"
    environment:
      POSTGRES_DB: pgrokdb
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
    networks:
      - dokploy-network
      - internal
volumes:
  pg_data:
networks:
  dokploy-network:
    external: true
  internal:
    driver: bridge
